body
  margin: 0
  background-color: black
  font: 100%/1.5 Verdana, Arial, Helvetica, sans-serif
  color: white

a img
  border: none
  margin: 0

p
  margin: 10px 0

a
  &:link
    color: #39F
  &:visited
    color: #A6D
  &:hover
    color: #FFD719

.outer_wrapper
  border: black solid 1px

.wrapper
  background-color: black
  font-size: 0.84em

.header
  h1
    .text
      position: absolute
      left: -999999px

.first h2
  margin-top: 0

.intro, .members_thumbs
  margin-bottom: 28px

.music_player
  border: #FFD719 solid 4px

.gig_list
  margin-left: 0
  padding-left: 0
  li
    list-style-type: none
    margin: 0 0 14px
    padding-left: 0
  table
    border-collapse: collapse
    width: 100%
    th, td
      border: #333 solid 1px
    th
      text-align: left

.outer_wrapper
  width: 779px
  margin: 60px auto
  border: black solid 1px
  background-image: url(/images/outline.png)

.wrapper
  margin: 8px
  padding: 20px

.header
  position: relative
  .logo
    margin: -100px 0 0 -100px
  h1
    position: absolute
    top: 0
    right: 0
    width: 461px
    height: 177px
    margin: 14px 23px 20px
    background: url(/images/site_heading.png) no-repeat

.intro, .members_thumbs
  float: left
  clear: left
  width: 320px

.content
  padding: 0 20px 20px 20px

.music, .gigs
  float: right
  clear: right
  width: 340px

.music p
  margin: 0 0 20px 0

.music_player
  padding: 7px 16px

.gig_list
  th, td
    padding: 2px 14px
  th
    width: 34px

.gig_ad
  margin-bottom: 1em
  a
    display: block

.footer
  clear: both

@media (max-width: 400px)

  img.logo
    display: none

  .outer_wrapper
    width: 100%
    margin: 0 auto
    background-image: none

  .wrapper
    margin: 0
    padding: 0

  .header
    position: static
    h1
      position: static
      width: 320px
      height: 114px
      margin: 10px auto
      background: url(/images/logo_320.png) no-repeat

  .intro, .members_thumbs
    width: 100%

  .members_thumbs
    img
      width: 24%

  .content
    padding: 0 10px 0 10px

  .music, .gigs
    width: 100%

  .music p
    margin: 0 0 10px 0

  .music_player
    padding: 7px 2px
    text-align: center
    object
      margin: 0 auto

  .gig_list
    th, td
      padding: 2px 7px
    th
      width: 34px

  .gig_ad
    margin-bottom: 1em
    a
      display: block