:kramdown
  There's a good few characters in Star Wars that could use a bit of self-control, but this song focuses on Darth Vader and Chewbacca.

  ### lyrics

  My name is Chewbacca the wookiee,
  And I haven't pulled one single arm
  From the torso of its rightful owner
  For ten weeks, though it has been hard

  I've gritted my numerous teeth and
  Endured all the jibes and remarks,
  And I've even tried to be graceful when losing
  At chess or 3D hyper-darts

  Chorus
  Fear leads to anger, anger leads to hate.
  I hate these plastic chairs, I can't relate
  These losers in their circle - weak-minded fools,
  But I can't do this alone

  To your kind my name is Lord Vader,
  But I've had more names in my time
  This past week I've closed no one's wind-pipe
  By flexing the power of my mind

  Nor have I used my robot fist -
  Those trachias remained uncrushed!
  I see there are those here who doubt me -
  Remember this group's based on trust

  (Chorus)
