:kramdown
  Obi-Wan Kenobi is just the biggest liar. It's clear
  that he's a compulsive fabulist. Of course, his greatest
  tall tale is the old "Darth Vader betrayed and murdered
  your father". Woo! That's a doozy.
  
  ### Lyrics
  
  When Qui-Gon died, I tried to take over
  You could say I lied when I said I could shoulder
  The weight of the task I asked from master Yoda
  
  But I was so keen to be seen as respected
  You've got to think it through and see things from my perspective
  
  What I said was true from a certain point of view
  If you think about it right, I always did the best for you
  In the right frame of mind my decisions hold true
  There was nothing I could do from a certain point of view
  
  I left you to your fate and crawled under a boulder
  Out here in the wastes I grew nothing but older
  I had to just keep believing what I told you
  
  The man in you had been superseded by machine
  The friend I had was dead - just a robot there instead -
  Twisted and evil
  
  What I said was true from a certain point of view
  If you think about it right, I always did the best for you
  In the right frame of mind my decisions hold true
  There was nothing I could do from a certain point of view
  
  There was nothing I could do
  Nothing I could do
  Nothing I could do
  From a certain point of view
  
  What I said was true from a certain point of view
  If you think about it right, I always did the best for you
  In the right frame of mind my dec-
  What I said was true from a certain point of view
  If you think about it right, I always did the best for you
  In the right frame of mind my decisions hold true
  There was nothing I could do from a certain point of view
  