:kramdown
  Luke must have found it pretty hard to have faith in
  Yoda when they were first together. I mean,
  until he hoists Luke's X-Wing out of the swamp, he
  doesn't do a lot do establish his bona-fides, you know?
  
  ### Lyrics
  
  I can't believe this fog I'm flying through
  All because a dead monk told me to
  Mynocks on the front of my ship
  But it doesn't really matter
  'Cause I'm going to make a difference somehow
  
  And as my X-Wing sinks into the swamp
  I'm pestered by a talking frog
  He knows Yoda, says he'll show me the way,
  but he lied! He lied
  
  And I don't know what I'm doing here
  Wasting my time, when it's feeling forced
  And I can't decide
  What I'll do when the fight is on
  To tell the good guys from the bad
  A mystery - or is it only in my mind?
  
  You always say "no pain, no gain"
  But montage is the hardest way to train
  How long have I been in this swamp?
  I'm going to have to leave now,
  this sequence is a strain on the plot
  
  "Do, or do not", the message that you preach
  But if you can't do then you teach
  I bet you got your ass kicked in the past
  Least I tried - I tried
  
  And I don't know what I'm doing here
  Wasting my time, when it's feeling forced
  And I can't decide
  What I'll do when the fight is on
  To tell the good guys from the bad
  A mystery - or is it only in my mind?
  
  I don't know what I'm doing here
  Wasting my time, when it's feeling forced
  And I can't decide
  What I'll do when the fight is on
  To tell the good guys from the bad
  A mystery - or is it only in my mind?
