.intro
  :kramdown
    Order 66 is a pop-punk band from Surrey in England. Ah, go on, you know what pop punk is! It's what Green Day used to play before they went weird! And here's the thing - all our songs are about Star Wars! I know - awesome, right?

    The Star Wars stuff is in the lyrics, really. Some bits of the music from the movies sneak in there too, but it's not like we just play covers of the cantina band song (there's plenty of awesome bands taking care of that).

    We've played gigs at, like, [Nambucca](http://nambuccalondon.com/), and [The Underworld](http://en.wikipedia.org/wiki/Camden_Underworld), and with some sweet bands, like [The Dogbones](http://en.wikipedia.org/wiki/The_Dogbones), [Random Hand](http://en.wikipedia.org/wiki/Random_Hand), [Assorted Jelly Beans](http://en.wikipedia.org/wiki/Assorted_Jelly_Beans), [The JB Conspiracy](http://www.last.fm/music/The+JB+Conspiracy), [Zeeb?](http://www.myspace.com/zeeb) and [Mr Kamikaze](http://www.mrkamikaze.com/) - and the gigs we've got coming up are totally going to punish too!

.gigs
  :kramdown
    ## New songs!
    Our new EP comes out on May 4th! It's called Altering The Deal - here's the cover:
    
    ![Order 66 - Altering The Deal](/images/altering-the-deal.jpg)
    
    It's going to be available from here, or from [our bandcamp page](http://order66.bandcamp.com). Hope you guys like it!

.music.first
  :kramdown
    ## Songs
    Hey, get a load of our first EP, All Too Easy! Here's a music player so you can play it, or download it, or whatever. The music is being piped from [our bandcamp page](http://order66.bandcamp.com)!
  .music_player
    .small
      <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1804128162/size=grande/bgcol=000000/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://order66.bandcamp.com/album/all-too-easy">All Too Easy by Order 66</a></iframe>

    .big
      <iframe width="300" height="355" style="position: relative; display: block; width: 300px; height: 355px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1804128162/size=grande2/bgcol=000000/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://order66.bandcamp.com/album/all-too-easy">All Too Easy by Order 66</a></iframe>

.members_thumbs
  %img{:src => '/images/alex_thumb.png', :size => '70x70', :alt => 'Alex', :title => 'Alex (drums)'}
  %img{:src => '/images/ben_thumb.png', :size => '70x70', :alt => 'Ben', :title => 'Ben (vocals, guitar)'}
  %img{:src => '/images/chris_thumb.png', :size => '70x70', :alt => 'Chris', :title => 'Chris (guitar, vocals)'}
  %img{:src => '/images/thom_thumb.png', :size => '70x70', :alt => 'Thom', :title => 'Thom (bass, vocals)'}
  :kramdown
    * [Follow us on Twitter](http://twitter.com/order66band)
    * [Find us on Facebook](http://www.facebook.com/order66band)
