:kramdown
  Anakin: Master Qui-Gon, I've been wondering - what are midi-chlorians?
  Qui-Gon: Oh, they're great! They give you super-powers and stuff!
  
  ### Lyrics
  
  You've got something that everyone else has got
  The difference is that you've got a hell of a lot
  Your reading's so high, it's off the charts
  So listen up 'cause this is just the start
  
  Superhero powers, a dream come true
  Learn to quiet your mind - you'll hear them talking to you
  Sub-cellular particle best friends
  Midi-chlorians
  
  I think I'm just going to fob off Obi-Wan
  Tell the Jedi Council that he's done
  Anakin's so much better for my credentials
  So much more potential
  
  Superhero powers, a dream come true
  Learn to quiet your mind - you'll hear them talking to you
  Sub-cellular particle best friends
  Midi-chlorians
  
  You've got something that everyone else has got
  The difference is that you've got a hell of a lot
  Your reading's so high, it's off the charts
  So listen up 'cause this is just the start
  
  Superhero powers, a dream come true
  Learn to quiet your mind - you'll hear them talking to you
  Sub-cellular particle best friends
  Midi-chlorians
