:kramdown
  Say what you like about the Galactic Empire, at least they're up front about it. Back here in this stupid galaxy it's hard to get people to see the bad guys for what they are!

  ### lyrics

  to galvanise the apathetic youth of today,
  you need something for them to aim at
  the imminent threat of their planet's destruction
  is the kind of thing that'll do that

  but the bad guys here don't wear black helmets,
  or in some cases white,
  and our crises can't be solved
  with an intragalactic fight

  it's easy to see
  that a planet smashing machine
  is a device only evil men would make
  it's easy for you -
  it's clear what to do -
  the universe is clear what's at stake

  our leaders don't crush throats in morning meetings,
  or kill idiots like veers
  or force fake confessions from captured prisoners,
  with torture, drugs and fear

  well actually that second part
  sounds a little close to home,
  but the narratives of our lives lack
  the omniscience to make it known

  it's easy to see
  that a planet smashing machine
  is a device only evil men would make
  it's easy for you
  it's clear what to do
  the universe is clear what's at stake
