:kramdown
  Red 6 is one of our oldest songs. It's one of Thom's, and it's about Jek Porkins, the tubby X-Wing pilot from A New Hope! But it's also about the punk scene, and how awesomely inclusive it is!

  ### lyrics
  
  aren't you a little fat for a stormtrooper?,
  well, there's a place where you can go-o-o-o (woah-o-o-o),
  where people give high fives,
  and sometimes lose their lives,
  for the sake of all that's good and true,

  they don't make tie fighters in your size,
  and there's no cupholders on show-o-o-o (woah-o-o-o),
  dickensianly named,
  and formerly ashamed,
  there was nothing else that you could do,

  roll up, roll up,
  we'll take anyone here,
  sign up, sign up,
  you no longer need fear,
  misfits left, right and centre we're all as one,

  suit up let's have some fun!
  suit up let's have some fun!

  (musical bridge thing)

  aren't you a little brave for a stormtrooper?,
  you've been through more than they could know-o-o-o (woah-o-o-o)
  you've happily endured,
  more than some clone could,
  there'll never be one other like you,

  roll up, roll up,
  we'll take anyone here,
  sign up, sign up,
  you no longer need fear,
  misfits left, right and centre we're all as one,

  suit up let's have some fun!
  suit up let's have some fun!

  (awesome musical breakdown bit)
  suit up let's have some fun!
