:kramdown
  You know how there's all those
  weirdos and losers hanging out in the cantina at
  Mos Eisley? They all know that not many of them
  are going to end up married to princesses. I bet
  they all think they're going to be the one though.

  ### Lyrics
  
  In this wretched hive of scum and villainy
  Strung out, so tired of misery
  If this is my story then there's
  Only one way that this story goes
  
  Crabs in a barrel will pull you under
  Counting the clicks from the flash to the thunder
  And then you're left to wonder:
  Is there somewhere further down to go?
  
  Where did I go wrong?
  (What did I do wrong?)
  How did I get so low?
  
  Somewhere out there there's a context tailored just for me
  Somewhere there's a princess with a scoundrel vacancy
  Keep putting fuel in the tanks - keep flying
  Get good at not dying
  Just make sure that you're ready when your chance comes
  
  Where did I go wrong?
  (What did I do wrong?)
  How did I get so low?
  
  Moss Eisley, if the Hutts find me
  Leave a dead bounty hunter pile behind me
  Face to the sky
  Punch it and I'll
  Jump to light speed and I'll be gone
  
  Where did I go wrong?
  (What did I do wrong?)
  How did I get so low?
