:kramdown
  Waist-Length Cape is the first song we wrote. It's about Lando Calrissian! He's a smooth operator, that one. That cape! Could /you/ get away with it?

  ### lyrics
  
  this conversation's over son, i've heard it all before,
  i don't want your waist length cape in my life anymore!
  i've seen a lot of things but this is seriously low -
  anything to make galactic gas trade prices grow.

  HAN!

  there is still time to save HAN!
  on the east platform that day,
  all you were doing was saving face,
  it was all part of your PLAN!

  holding off involvement till you felt the market swing:
  'maybe less close scrutiny of goods is just the thing!'
  nothing like political upheaval to allow
  cheeky cuts and backhanders for those with the knowhow!

  [bridge]

  now you're up there on cloud nine (ZZ4)
  looking out on that eternal sunset,
  eating veal and drinking wine (he's got a semillon!)
  totting up this cycle's tax deductable 'rebellion charity donation' interest

  now you're 'general Lando' and it's sort of all back fired,
  who'd have thought you'd be the one convinced by what's inside?
  out there on the front lines feeling 25 again,
  the deal was altered long ago for a more than happy end
